.events {

  &-list {
    list-style: none;
    margin: ($margin * 3) 0 0;
    padding: 0;

    &-item {
      &.done {
        .events-calendar {
          border: $border-size solid $color-base-semilight;
        }

        .events-calendar-date {
          background: $color-base-semilight;
          color: $color-white;
        }

        .events-calendar-day {
          color: $color-base;
        }

        .events-meta-item {
          text-decoration: line-through;
        }
      }
    }
  }

  &-link {
    border-top: $border-size solid $color-border;
    display: block;
    min-height: 143px;
    padding: ($padding * 2) $padding;

    &:hover {
      border-top: $border-size solid transparent;
      background: $color-white;
      -webkit-box-shadow: 0px 7px 50px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 7px 50px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 7px 50px 0px rgba(0,0,0,0.1);
      text-decoration: none;

      .events-headline {
        color: $color-red;
      }
    }
  }

  &-headline {
    color: $color-black;
    font-size: $font-size-3;
    margin: $margin 0 ($margin * .5);
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;

    @media(max-width:767px) {
      margin: 0 0 ($margin * .5);
    }
  }

  &-calendar {
    border: $border-size solid $color-red;
    height: 80px;
    position: absolute;
    text-align: center;
    width: 80px;

    @media(max-width:767px) {
      height: 50px;
      width: 50px
    }

    &-day {
      font-size: $font-size-6;
      font-weight: $font-weight-bold;
      padding: ($padding * .5) 0 ($padding * .2);
      text-transform: uppercase;

      @media(max-width:767px) {
        font-size: $font-size-3;
        padding: 5px 0;
      }
    }

    &-date {
      background: $color-red;
      color: $color-white;
      font-size: $font-size-4;
      font-weight: $font-weight-bold;
      padding: ($padding * .5) 0 ($padding * .2);

      @media(max-width:767px) {
        font-size: $font-size-1;
        margin-top: -5px;
        padding: 2px 0 0;
      }
    }
  }

  &-content {
    padding-left: 110px;

    @media(max-width:767px) {
      padding-left: 70px;
    }
  }

  &-meta {
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      color: $color-font-light;
      float: left;
      margin-right: $margin * 1.5;

      @media(max-width:767px) {
        font-size: $font-size-1;
      }

      i {
        margin-right: 5px;
        position: relative;
        top: 2px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

}
