.content {

  &-inner {
    padding: 108px ($padding * 2) ($padding * 2);

    @media(max-width:1100px) {
			padding: ($padding * 2) $padding;
		}
  }

  &-headline {
    font-size: $font-size-10;
    margin: 0 0 ($margin * 2);
    padding: 0;

    @media(max-width:1100px) {
      font-size: $font-size-7;
    }
  }

  &-subline {
    font-size: $font-size-6;
    margin: 0 0 ($margin * 2);
    padding: 0;
  }

  &-intro {
    max-width: 600px;
  }

  &-media {
    margin-bottom: $margin * 2;
  }

  &-image {
    display: block;
    width: 100%;
  }

}
