<!doctype html>
<html class="no-js" lang="de">

<head>

  <!--Meta-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>amatus. - we are amatus</title>
  <meta name="description" content="We create socially meaningful impact through emerging technologies. We create initiatives to advance accessibility, through building and testing products in real-life scenarios.">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118787084-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-118787084-1');
  </script>

  <!--Facebook-->
  <meta property="og:title" content="amatus. - we are amatus" />
  <meta property="og:type" content="Company builder" />
  <meta property="og:url" content="https://www.amatus.com" />
  <meta property="og:image" content="https://www.amatus.com/img/facebook-sharing.jpg" />
  <meta property="og:site_name" content="amatus." />
  <meta property="og:description" content="We create socially meaningful impact through emerging technologies. We create initiatives to advance accessibility, through building and testing products in real-life scenarios."
  />

  <!--FavIcon-->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/img/favicon/apple-touch-icon.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/img/favicon/favicon-32x32.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/img/favicon/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "assets/img/favicon/site.webmanifest" | relative_url }}">
  <link rel="mask-icon" href="{{ "assets/img/favicon/safari-pinned-tab.svg" | relative_url }}" color="#ff0002">
<meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Tajawal:400,700" rel="stylesheet">

  <!--CSS-->
  <link href="{{ "assets/styles/css/normalize.css" | relative_url }}" rel="stylesheet">
  <link href="{{ "assets/styles/css/master.css" | relative_url }}" rel="stylesheet">

  <!--Javascript-->
  <script src="{{ "assets/js/vendor/modernizr-2.8.3.min.js" | relative_url }}"></script>

</head>

<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

  <div class="wrapper_margins clearfix">

    <header class="header grid grid-2 grid-fh grid-fix">
      <div class="grid-inner">
        <ul class="social-list clearfix">
          <li class="social-list-item">
            <a class="social-link" href="https://medium.com/@amatus" target="_blank">
              <img class="social-icon svg" src="{{ "assets/img/social-medium.svg" | relative_url }}" alt="Medium Logo" />
            </a>
          </li>
          <li class="social-list-item">
            <a class="social-link" href="https://www.linkedin.com/company/amatuscompanybuilder/?originalSubdomain=de" target="_blank">
              <img class="social-icon svg" src="{{ "assets/img/social-linkedin.svg" | relative_url }}" alt="LinkedIn Logo" />
            </a>
          </li>
          <li class="social-list-item">
            <a class="social-link" href="https://t.me/amatus_hq" target="_blank">
              <img class="social-icon svg" src="{{ "assets/img/social-telegram.svg" | relative_url }}" alt="Telegram Logo" />
            </a>
          </li>
        </ul>
        <div class="navigation">
          <nav class="navbar">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navigation" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ site.baseurl }}">
                <img src="{{ "assets/img/logo-amatus.svg" | relative_url }}" alt="amatus." width="" height="" />
              </a>
            </div>

            {% assign current = page.url | downcase | split: '/' %}
            {% assign current_length = page.url.size %}
            <div class="collapse navbar-collapse" id="header-navigation">
              <ul class="nav navbar-nav">
                <li {% if current_length == 1 %}class='active'{% endif %}>
                  <a href="{{ site.baseurl }}" title="Home">home.</a>
                </li>
                <li {% if current[1] contains 'projects' %}class='active'{% endif %}>
                  <a href="{{ "projects" | relative_url }}" title="Projects">projects.</a>
                </li>
                <li {% if current[1] contains 'jobs' %}class='active'{% endif %}>
                  <a href="{{ "jobs" | relative_url }}" title="Jobs">jobs.</a>
                </li>
                <li {% if current[1] contains 'events' %}class='active'{% endif %}>
                  <a href="{{ "events" | relative_url }}" title="Events">events.</a>
                </li>
                <li {% if current[1] contains 'about' %}class='active'{% endif %}>
                  <a href="{{ "about" | relative_url }}" title="About">about.</a>
                </li>
                <li {% if current[1] contains 'blog' %}class='active'{% endif %}>
                  <a href="{{ "blog" | relative_url }}" title="Blog">blog.</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="header-footer">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="{{ "imprint" | relative_url }}">Imprint</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="{{ "privacy" | relative_url }}">Privacy Policy</a>
          </li>
        </ul>
        <div class="footer-copy">&copy; 2018 amatus. All rights reserved.</div>
      </div>
    </header>

    <div class="content">
      {{ content }}
    </div>

    <footer class="footer">
      <div class="row">
        <div class="col-sm-4 clearfix">
          <ul class="footer-nav">
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="{{ "imprint.html" | relative_url }}">Imprint</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="{{ "privacy.html" | relative_url }}">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul class="social-list clearfix">
            <li class="social-list-item">
              <a class="social-link" href="https://medium.com/@amatus" target="_blank">
                <img class="social-icon svg" src="{{ "assets/img/social-medium.svg" | relative_url }}" alt="Medium Logo" />
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-link" href="https://www.linkedin.com/company/amatuscompanybuilder/?originalSubdomain=de" target="_blank">
                <img class="social-icon svg" src="{{ "assets/img/social-linkedin.svg" | relative_url }}" alt="LinkedIn Logo" />
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-link" href="https://t.me/amatus_hq" target="_blank">
                <img class="social-icon svg" src="{{ "assets/img/social-telegram.svg" | relative_url }}" alt="Telegram Logo" />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 clearfix">
          <div class="footer-copy">&copy; 2018 amatus. All rights reserved.</div>
        </div>
      </div>
    </footer>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ site.baseurl  | relative_url}}"assets/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
  <script src="{{ "assets/js/vendor/bootstrap.min.js" | relative_url }}"></script>
  <script src="{{ "assets/js/plugins.js" | relative_url }}"></script>
  <script src="{{ "assets/js/main.js" | relative_url }}"></script>

</body>

</html>
